extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Fusce Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis purus at ipsum commodo sagittis. Ut commodo dolor a imperdiet euismod. Duis ut velit eleifend, volutpat tortor vel, dapibus leo. Proin blandit eros ut massa volutpat faucibus. Aenean ac pretium mauris. Nullam suscipit dui in elit gravida, dictum posuere dui posuere. Sed ultrices ullamcorper lectus et vulputate. Integer augue ligula, blandit eu ante a, ultrices tincidunt urna. Vivamus a nisl bibendum.
                p Donec nisi lorem, scelerisque id mauris vel, elementum faucibus quam. Nullam ac sem urna. Sed non diam tortor. Ut at iaculis tortor, mattis molestie eros. Nunc lobortis semper erat at iaculis. Nullam euismod rhoncus enim, vitae euismod mi egestas a. Sed dictum tincidunt magna, sit amet mattis risus congue id. Morbi est urna, sagittis ac interdum a, tempor eu arcu. Mauris venenatis mattis lorem quis consequat. Nulla facilisi. Duis efficitur maximus metus id interdum.
                p Maecenas euismod lacus ac lectus pellentesque, id pellentesque est tristique. Vivamus at felis vestibulum, finibus nisl at, euismod ante. Nam luctus, felis non varius cursus, tortor nisl condimentum lorem, vitae consequat diam nisi at ante.
        .listado-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 SEGURIDAD
                        p Maecenas euismod lacus ac lectus pellentesque, id pellentesque est tristique. Vivamus at felis vestibulum, finibus nisl at, euismod ante. Nam luctus, felis non varius cursus, tortor nisl condimentum lorem, vitae consequat diam nisi at ante.
                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 MEJORES DESTINOS
                        p Maecenas euismod lacus ac lectus pellentesque, id pellentesque est tristique. Vivamus at felis vestibulum, finibus nisl at, euismod ante. Nam luctus, felis non varius cursus, tortor nisl condimentum lorem, vitae consequat diam nisi at ante.
                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 LOS MEJORES PRECIOS
                        p Maecenas euismod lacus ac lectus pellentesque, id pellentesque est tristique. Vivamus at felis vestibulum, finibus nisl at, euismod ante. Nam luctus, felis non varius cursus, tortor nisl condimentum lorem, vitae consequat diam nisi at ante.
